* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;
}

header {
  font-size: 5em;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.app {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.75))), url("./assets/cold.jpg");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75)), url("./assets/cold.jpg");
  background-size: cover;
  background-position: bottom;
  -webkit-transition: 0.4 ease-out;
  transition: 0.4 ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app.warm {
  background-image: url("./assets/warm.jpg");
}

main {
  height: 100vh;
  padding: 25px;
}

section {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2);
          box-shadow: rgba(0, 0, 0, 0.2);
  color: #313131;
  font-size: 20px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.location-box .location {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.icon {
  font-size: 3em;
  display: contents;
}

.weather-box {
  text-align: center;
}

.weather-box .temp-small {
  position: relative;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box .weather {
  font-size: 48px;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}
/*# sourceMappingURL=index.css.map */