$bc-color:rgba(255, 255, 255, 0.5);
$bc-radius:16px;
$t-shadow:2px 2px rgba(50, 50, 70, 0.5);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  font-family: 'montseratt', sans-serif;

}
header{
  font-size:5em;
  text-shadow: $t-shadow;
}
.app{
  background:linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0, 0, 0, 0.75)), url('./assets/cold.jpg') ;
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
  display: flex;
  justify-content: center;
}

.app.warm{
  background-image: url('./assets/warm.jpg');
}

main{
  height: 100vh;
  padding: 25px;
}

section{
  background-color:$bc-color;
  border-radius: $bc-radius;
}

.search-box{
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar{
  display:block;
  width:100%;
  padding: 15px;
  appearance: none;
  background: none;
  border:none;
  outline: none;
  background-color:$bc-color;
  border-radius:$bc-radius;
  box-shadow: rgba(0,0,0,0.2);
  color: #313131;
  font-size: 20px;
  transition: 0.4s ease;

}

.search-box .search-bar:focus{
  background-color: rgba(255, 255, 255, 0.75);
}

.location-box .location{
  color: #FFF;
  font-size:32px;
  font-weight: 500;
  text-align: center;
  text-shadow: $t-shadow;
}

.location-box .date{
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: $t-shadow;
}

.icon{
  font-size: 3em;
  display: contents;
}
.weather-box{
  text-align: center;
}

.weather-box .temp-small{
  position: relative;
   text-shadow: $t-shadow;
}

.weather-box .weather{
  font-size: 48px;
  text-shadow: $t-shadow;
}